{{ define "main" }}

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto block shadow mb-5">
        <h2>{{ .Title | markdownify }}</h2>
        <div class="mb-3"><span>by <a href="{{ "author/" | relLangURL }}{{ .Params.Author | urlize | lower }}">{{ .Params.Author | title | humanize }}</a></span>,
          <span>at {{ .PublishDate.Format "02 January 2006" }}</span>, category :
          {{ range .Params.Categories }}
          <a href="{{ "categories/" | relLangURL }}{{ . | urlize | lower }}">{{ . | title | humanize }}</a>
          {{ end }}
        </div>
        {{ if .Params.Image }}
        <img src="{{ .Params.Image | relURL }}" class="img-fluid w-100 mb-4" alt="{{ .Title | markdownify }}">
        {{ end }}
        <div class="content mb-5">
          {{ .Content }}
        </div>
      </div>
      <div class="col-lg-8 mx-auto block shadow">
        <!-- comments -->
        {{ template "_internal/disqus.html" . }}
      </div>
    </div>
  </div>
</section>

{{ end }}